.header{
    display: flex;
    justify-content: space-between;
    border: 1px solid orange;
    padding: 0 20px;
}

.logo-container{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  border: 1px solid orange;
  padding: 0 20px;
}
.logo{
    height: 90px;
    width: 90px;
}

.nav-items > ul{
    display: flex;
    padding: 10px;
}
.nav-items > ul > li{
    margin: 10px;
    list-style-type: none;
    font-size: 15px;
}
.search{
    padding: 15px;
}
.res-container{
    display: flex;
    flex-wrap: wrap;
}
.res-card{
    background-color: beige;
    border-radius: 10px;
    padding: 5px;
    margin: 6px;
    height: 510px;
    width: 250px;
}
.res-card:hover{
    cursor: pointer;
    border:0.2px solid red;

}
.res-logo{
    border-radius: 10px;
    width: 100%;
    height: 50%;
}
.filter{
    display: flex;    
    margin: 10px;
}
.filter-btn{
    cursor: pointer;
}
.shimmer-container{
    display: flex;
    flex-wrap: wrap;
}
.shimmer-card {
    background-color: lightgrey;
    border-radius: 10px;
    padding: 5px;
    margin: 6px;
    height: 510px;
    width: 250px;
}
.login-btn{
    height: 30px;
    width: 60px;
    color: blue;
    cursor: pointer;
}